@model Statute
@{

}

<div class="paragraph-section" id="generalInformation">
    <div class="row">
        <div class="col-xs-3">
            <b>Name des Vereins</b>
        </div>
        <div class="col-xs-9">
            <input type="text" placeholder="Vereinsname" asp-for="GeneralInformation.ClubName" required />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            Sitz des Vereins
        </div>
        <div class="col-xs-9 col-sm-5">
            <input placeholder="Ort" asp-for="@Model.GeneralInformation.City" required />
        </div>
        <div class="col-sm-4 hidden-xs">
            <input placeholder="Postleitzahl" asp-for="@Model.GeneralInformation.PostCode" required />
        </div>
    </div>
    <div class="row visible-xs">
        <div class="col-xs-offset-3 col-xs-9">
            <input placeholder="Postleitzahl" asp-for="@Model.GeneralInformation.PostCode" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            Einrichtung der Satzung
        </div>
        <div class="col-xs-9">
            <input asp-for="@Model.GeneralInformation.FoundingDate" type="date" />
        </div>
    </div>
    <div class="row" style="margin: 40px 0 20px 0;">
        <div class="col-xs-9 col-sm-3 col-md-3"><b>Gründungsmitglieder</b></div>
        <div class="hidden-xs col-sm-9 col-md-9" style="font-style: italic;">Es müssen mindestens 7 Gründungsmitglieder angegeben werden.</div>
    </div>
    <div class="row">
        <div class="col-xs-3">Anzahl</div>
        <div class="col-xs-9 col-sm-5">
            <select id="founderCount" asp-for="@Model.GeneralInformation.FounderCount" onchange="toggleFounderRows()">
                @for (var i = 7; i < 10; i++)
                {
                    <option value="@i">@i</option>}
                <option value="10">10 oder mehr</option>
            </select>
        </div>
    </div>
    <div>

    </div>
    @for (var i = 1; i <= 7; i++)
    {
        <div class="row" id="founderRow_@i">
            <div class="col-xs-3 visible-xs">Mitglied @i:</div>
            <div class="col-sm-3 hidden-xs">Gründungsmitglied @i:</div>
            <div class="col-xs-9"><input placeholder="Nachname, Vorname"  /></div>
        </div>
    }
    @for (var i = 8; i <= 10; i++)
    {
        <div class="row" id="founderRow_@i" hidden>
            <div class="col-xs-3 visible-xs">Mitglied @i:</div>
            <div class="col-sm-3 hidden-xs">Gründungsmitglied @i:</div>
            <div class="col-xs-9"><input placeholder="Nachname, Vorname"  /></div>
        </div>
    }
</div>
