@model Statute
@{
}

<div class="row">
    <div class="col-xs-12">
        Wer kann Mitglied werden?
    </div>
</div>
@foreach (string option in Program.PersonTypes)
{
    <div class="row">
        <div class="col-xs-offset-3 col-xs-1">
            <input type="checkbox" class="personTypes_checkbox" value="@option"  />
        </div>
        <div class="col-xs-6">
            @option
        </div>
    </div>
}

<div class="row">
    <div class="col-sm-3">
        Mitgliedsbeitrag:
    </div>
    <div class="col-xs-1">
        <input type="checkbox" id="feeRequired" onclick="toggleMembershipFeeInfo()" checked />
    </div>
    <div class="col-xs-2 feeInfo">
        <input style="padding-right:20px; text-align:right;" asp-for="MembershipInformation.MembershipFee.Amount" /><span style="margin-left:-20px;">€</span>
    </div>
    <div class="col-xs-3 feeInfo">
        <select value="@Model.MembershipInformation.MembershipFee.Period">
            @foreach (var option in Program.FeePeriodTypes)
            {
                <option value="@option">@option</option>
            }
        </select>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <b>Mitgliederversammlung</b>
    </div>
</div>
<div class="row">
    <div class="col-xs-3">
        Beschlussfähig bei
    </div>
    <div class="col-xs-6">
        <select>
            <option value="1">Jeder ordentlichen Mitgliederversammlung</option>
            <option value="2">Teilnehmerzahl:</option>
        </select>
    </div>
    <div class="col-xs-2">
        <input id="miminalMembersRequired" type="number" placeholder="Anzahl" asp-For="MembershipInformation.MembersRequiredForQuorum" />
    </div>
</div>
<div class="row">
    <div class="col-xs-3">
        Mehrheit bei
    </div>
    <div class="col-xs-6">
        <select asp-for="MembershipInformation.PopularVoteOption">
            @foreach (string popularVoteOption in Program.PopularVoteOptions)
            {
                <option value="@popularVoteOption">@popularVoteOption</option>
            }
        </select>
    </div>
</div>
<div class="row">
    <div class="col-xs-3">
        Können sich Mitglieder vertreten lassen?
    </div>
    <div class="col-xs-3">
        <button type="button" id="canBeRepresented" onclick="toggleRepresentation(true)" checked="true">Ja</button>
    </div>
    <div class="col-xs-3">
        <button type="button" id="cannotBeRepresented" onclick="toggleRepresentation(false)">Nein</button>
    </div>
</div>


