@model Statute
@{
}
<div class="paragraph-section" id="purpose">
    <div class="row">
        <div class="col-xs-3">
            Zweck
        </div>
        <div class="col-xs-9">
            <select asp-for="PurposeInformation.PurposeType">
                @foreach (string purposeType in Program.PurposeTypes)
                {
                    <option value="@purposeType">@purposeType</option>
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-3">
            Freie Beschreibung
        </div>
        <div class="col-xs-12 col-sm-9">
            <textarea style="height: 140px;" asp-for="PurposeInformation.PurposeFreeText" required></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9 col-xs-offset-3">
            <button asp-page-handler="findPurpose" type="submit" checked="true">Eingrenzung finden</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            Eingrenzung
            <a class="tooltip-icon" href="#" data-toggle="tooltip" title="In der Satzung muss ein passender Zweck aus einer Auswahl möglicher Optionen eingegeben werden">
                <span style="vertical-align: middle; height: 24px; width: 24px;"
                      class="tooltip-icon glyphicon glyphicon-info-sign">
                </span>
            </a>

        </div>
        <script>
            function updatePurposeLaymanTranslation() {
                //purposeSelection.value
                //purposeLaymanTranslations
            }
        </script>
        <div class="col-xs-7">
            <select id="purposeSelection" onchange="">
                @foreach (var purpose in Model.PurposeInformation.ApplicablePurposes)
                {
                    <option value="@purpose.LegalPurpose">@purpose.LegalPurpose</option>
                }
            </select>
            <div id="purposeLaymanTranslations">
                @foreach (var purpose in Model.PurposeInformation.ApplicablePurposes)
                {
                    <ul id="layman_@purpose.LegalPurpose">
                        @foreach (var translation in purpose.LaymanTranslations)
                        {
                            <li>@translation</li>
                        }
                    </ul>
                }
            </div>
        </div>
        <div class="col-xs-2">
            <button style="background-color: lightcoral;">Reset</button>
        </div>
    </div>
</div>
